@font-face {
  font-family:"LusitanaRegular";
  src: url("fonts/Lusitana-Regular.ttf") /* TTF file for CSS3 browsers */
}

@font-face {
  font-family:"LusitanaBold";
  src: url("fonts/Lusitana-Bold.ttf") /* TTF file for CSS3 browsers */
}

// reset

html {
  font-size: 16px;
  font-family: LusitanaRegular;
}

body {
  padding: 0;
  margin: 0;
}

.content {
  max-width: 1500px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

header {
  text-align: center;
  border-bottom: solid 1px black;
}

.header--text {
  display: inline-block;
  font-size: 1em;
  font-weight: 400;
  font-family: LusitanaRegular;
}

.header--logo {
  height: 25px;
  width: 50px;
}

ul {
  padding-left: 0;
}

li {
  display: inline-block;
}

img {
  height: 100%;
  width: 100%;
}

.menu {
  display: flex;
  justify-content: space-around;
}

.menu-link {
  color: inherit;
}

.hero {
  height: 40vh;
  padding-bottom: 15px;
  border-bottom: solid black 1px;
}

.banner--text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  text-align: center;
  font-weight: 600;
  font-family: LusitanaBold;
}

.banner--text--overlay {
  color: white;
  font-size: 2em;
}

.strip {
  height: 20vh;
}

.strip--split {
  display: flex;
  justify-content: space-around;
}

.strip--split > .banner {
  padding-top: 15px;
  border-top: 1px solid black;
}

.strip--split > .banner:first-child {
  margin-right: 10px;
}

.banner {
  position: relative;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer--logo--container {
  display: flex;
  justify-content: center;
  border-top: 1px solid black;
}

.footer--logo {
  background: white;
  margin-top: -25px;
  border: 1px solid black;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.footer--slice {
  flex: 1;
  padding-right: 20px;
  padding-left: 20px;
}

.footer--slice:nth-child(2) {
  flex: 2;
}

.footer--slice:not(:nth-child(3)) {
  border-right: 1px black solid;
}
